<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>KeyBoard - Regex Keyboard</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images//favicon.ico"/>

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png"/>

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png"/>

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png"/>

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cYanone+Kaffeesatz:200,300,400,700"
          rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css"/>

    <!-- keyboard css-->
    <link rel="stylesheet" href="css/keyboard.css"/>
    <!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet"/>

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" href="assets/css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--[if lt IE 9]>
    <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
<!-- Loader -->
<div id="site-loader" class="load-complete">
    <div class="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div><!-- Loader /- -->

<div class="main-container">

    <main class="site-main">

        <div class="container-block">
            <div class="row no-gutters">

                <!-- Menu Sidebar -->
                <div class="menu-sidebar col-lg-4">
                    <!-- Header Section -->
                    <div class="header_s">
                        <!-- SidePanel -->
                        <div id="slidepanel-1" class="slidepanel">
                            <!-- Top Header -->
                            <div class="top-header">
                                <!-- Container -->
                                <div class="container no-padding">
                                    <div class="top-content logindiv">
                                        <span class="loginname" style="width: 250px"><i
                                                class='fa fa-user-circle'></i></span>
                                    </div>
                                </div><!-- Container /- -->
                            </div><!-- Top Header /- -->
                        </div><!-- SidePanel /- -->
                        <!-- Menu Block -->
                        <div class="menu-block">
                            <nav class="navbar ownavigation navbar-expand-lg">
                                <!-- Container -->
                                <div class="container">
                                    <!--a class="navbar-brand text-logo" href="index.html">Airco <span>air conditioning</span></a-->
                                    <a class="image-logo navbar-brand" href="home.html"><img
                                            src="assets/images/logo.png" alt="Logo"/></a>
                                    <button class="navbar-toggler navbar-toggler-right" type="button"
                                            data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                                            aria-expanded="true" aria-label="Toggle navigation">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="navbar-nav">
                                            <li><a class="nav-link" title="Home" href="home.html">Home</a></li>
                                            <li><a class="nav-link" title="ReadMe" href="readme.html">ReadMe</a></li>
                                            <li><a class="nav-link" title="LearnMore"
                                                   href="learnmore.html">LearnMore</a></li>
                                            <li class="active"><a class="nav-link" title="KeyBoard"
                                                                  href="keyboard.html">KeyBoard</a></li>
                                            <li><a class="nav-link" title="Test" href="test.html">Test</a></li>
                                            <li class="dropdown">
                                                <a href="qanda.html" class="nav-link dropdown-toggle" title="QaA"
                                                   role="button" aria-haspopup="true" aria-expanded="false">Q&amp;A</a>
                                                <i class="ddl-switch fa fa-angle-down"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="myquestion.html">My Question</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="myanswer.html">My Answer</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="loginpanel-1" class="desktop-hide">
                                        <div class="right toggle" id="toggle-1">
                                            <a id="slideit-1" class="slideit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-inbox"></i></a>
                                            <a id="closeit-1" class="closeit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Container /- -->
                            </nav>
                        </div><!-- Menu Block /- -->
                    </div><!-- Header Section /- -->
                </div><!-- Menu Sidebar /- -->
                <!-- Content Area Block -->
                <div class="content-area-block col-lg-8">
                    <!-- Page Banner -->
                    <div class="page-banner">
                        <!-- Container -->
                        <div class="container">
                            <h3>Keyboard</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                                <li class="breadcrumb-item active">Keyboard</li>
                            </ol>
                        </div><!-- Container /- -->
                    </div><!-- Page Banner /- -->
                    <!-- Row -->
                    <div>
                        <div style="padding: 10px">
                            <div class="rulesboxarea">
                                <button onclick="regexOut()">生成</button><button type="reset" onclick="cleartextarea()">清空</button>
                                <textarea class="regexInput" name="regexrules"></textarea>
                                <label class="resultbox" style="background: #d3a33c">result</label>
                                <label class="hintbox">键盘hover提示</label>
                            </div>
                        </div>
                        <div style="margin-top:10px;height: 500px;">
                            <!-- key wapper show-->
                            <!-- key wapper show /- -->
                            <!-- key wapper-->
                            <div class="key-wrapper">
                                <ul class="key-wrapper-ul">
                                    <li class="adecimalKey" data-classify="bracket"
                                        data-key="匹配一个十六进制转义符，十六进制转义值。十六进制转义值必须为确定的两个数字长。例如，'Hexadecimal(41)' 匹配 'A'。'Hexadecimal(041)' 则等价于 'Hexadecimal(04)' &amp; 'Hexadecimal(1)'。"
                                        data-code="49">Hexadecimal
                                    </li>
                                    <li class="locationKey" data-classify="aftercolon"
                                        data-key="匹配一个单词边界，也就是指单词和空格间的位置。例如， 'er:WordBoundary' 可以匹配'never' 中的 'er'，但不能匹配 'verb' 中的 'er',也不能匹配'error'中的'er'。"
                                        data-code="50">WordBoundary
                                    </li>
                                    <li class="specialFeed" data-classify="pattern"
                                        data-key="匹配一个( )中的子表达式,例如，'(a)'匹配'available'中的三个'a'。" data-code="51">( pattern
                                        )
                                    </li>
                                    <li class="specialFeed" data-classify="or"
                                        data-key="匹配一个关系或，例如，'(a)Or(b)'匹配'available'中的三个'a'与一个'b'。" data-code="52">Or
                                    </li>
                                    <li class="specialFeed" data-classify="itself" data-key="匹配任何非空白字符。" data-code="53">
                                        notWhiteSpace
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="匹配前面的子表达式一次或多次。例如，'zo：1OrMore' 能匹配 'zo' 以及 'zoo'，但不能匹配 'z'。"
                                        data-code="54">1OrMore
                                    </li>
                                    <li class="flagbox" data-classify="a" data-key="执行多行匹配" data-code="55"><b>m</b>ultiline
                                    </li>
                                    <li class="flagbox" data-classify="a" data-key="执行对大小写不敏感的匹配" data-code="56">case
                                        <b>i</b>nsensitive
                                    </li>
                                    <li class="flagbox" data-classify="a" data-key="执行全局匹配（会查找所有匹配，不会在查找到第一个匹配时就停止）"
                                        data-code="57"><b>g</b>lobal
                                    </li>
                                    <li class="charSetKey" data-classify="squarebrackets"
                                        data-key="负值字符集合。匹配未包含的任意字符。例如， 'NegatedSet(abc)' 可以匹配 'plain' 中的'p'、'l'、'i'、'n'。"
                                        data-code="48">NegatedSet
                                    </li>
                                    <li class="feed" data-classify="bracket"
                                        data-key="匹配一个用四个十六进制数字表示的 Unicode 字符。例如， Unicode(00A9) 匹配版权符号 (?)。"
                                        data-code="189">Unicode
                                    </li>
                                </ul>

                                <ul class="key-wrapper-ul">
                                    <li class="adecimalKey" data-classify="bracket"
                                        data-key="匹配八进制转义值。例如,'Octal(101)'匹配'A'。" data-code="81">Octal
                                    </li>
                                    <li class="locationKey" data-classify="aftercolon"
                                        data-key="匹配非单词边界。'er:notWordBoundary' 能匹配 'verb' 中的 'er'，但不能匹配 'never' 中的 'er'。"
                                        data-code="87">notWordBoundary
                                    </li>
                                    <li class="specialFeed" data-classify="itself"
                                        data-key="匹配一个非数字字符,等价于'OutOfRange(0-9)'。" data-code="69">NotDigit
                                    </li>
                                    <li class="specialFeed" data-classify="itself" data-key="匹配一个数字字符，等价于'Range(0-9)'。"
                                        data-code="82">Digit
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="n 是一个非负整数。匹配确定的 n 次。例如，'o:Determined2Times' 不能匹配 'Bob' 中的 'o'，但是能匹配 'food' 中的两个 'o'。"
                                        data-code="84">DeterminedNTimes
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="匹配前面的子表达式零次或多次。例如，zo:0OrMore 能匹配 'z' 以及 'zoo'。 等价于':Least0Times'。"
                                        data-code="89">0OrMore
                                    </li>
                                    <li class="singleFeed" data-classify="itself" data-key="匹配回车符。" data-code="85">
                                        CarriageReturn
                                    </li>
                                    <li class="nocacheKey" data-classify="colonbracket"
                                        data-key="匹配子表达式但不获取匹配结果，也就是说这是一个非获取匹配，不进行存储供以后使用。" data-code="73">
                                        NonCapturingGroup
                                    </li>
                                    <li class="charSetKey" data-classify="squarebrackets"
                                        data-key="字符集合。匹配所包含的任意一个字符。例如， 'CharSet(abc)' 可以匹配 'plain' 中的 'a'。"
                                        data-code="79">CharSet
                                    </li>
                                    <li class="feed" data-classify="bracket"
                                        data-key="将下一个字符标记为一个特殊字符、或一个原义字符、或一个 向后引用、或一个八进制转义符。例如，'n' 匹配字符 'n'。'Esc(n)' 匹配一个换行符。序列 'ESC(\)' 匹配 '\'' 而 'ESC(()' 则匹配 '('。"
                                        data-code="80">ESC
                                    </li>
                                </ul>

                                <ul class="key-wrapper-ul">
                                    <li class="locationKey" data-classify="aftercolon"
                                        data-key="匹配输入字符串的结束位置。如果设置 Multiline，:End也匹配换行符之前的位置。" data-code="65">
                                        <a>End</a></li>
                                    <li class="specialFeed" data-classify="itself" data-key="匹配字母、数字、下划线。"
                                        data-code="83">Word
                                    </li>
                                    <li class="specialFeed" data-classify="itself"
                                        data-key="匹配除换行符之外的任何字符。要匹配包括换页符在内的任何字符，请使用像'(All(ExceptLineBreaks))Or(LineFeed)'的模式。"
                                        data-code="68">All(ExceptLineBreaks)
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="匹配前面的子表达式零次或一次。例如，'do(es):0Or1' 可以匹配 'do' 或 'does' 。等价于:0To1Times"
                                        data-code="70">0Or1
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="m 和 n 均为非负整数，其中n 小于等于 m。最少匹配 n 次且最多匹配 m 次。例如，'o:1To3Times' 将匹配 'fooood' 中的前三个'o','o:1To3Times' 匹配 'foooood' 将匹配前三个'o'与后两个'o'两个匹配"
                                        data-code="71">NToMTimes
                                    </li>
                                    <li class="singleFeed" data-classify="itself" data-key="匹配换页符。" data-code="72">
                                        FormFeed
                                    </li>
                                    <li class="singleFeed" data-classify="itself" data-key="匹配垂直制表符。" data-code="74">
                                        VerticalTab
                                    </li>
                                    <li class="nocacheKey" data-classify="colonbracket"
                                        data-key="正向否定预查,在任何不匹配子表达式的字符串开始处匹配查找字符串。这是一个非获取匹配，也就是说，该匹配不需要获取供以后使用。例如'Windows(NegativeAssert((95)Or(98))'能匹配'Windows3.1'中的'Windows'，但不能匹配'Windows98'中的'Windows'。"
                                        data-code="75">NegativeAssert
                                    </li>
                                    <li class="charSetKey" data-classify="squarebrackets"
                                        data-key="负值字符范围。匹配任何不在指定范围内的任意字符。例如，'OutOfRange(a-z)' 可以匹配任何不在 'a' 到 'z' 范围内的任意字符。"
                                        data-code="76">OutOfRange
                                    </li>
                                </ul>

                                <ul class="key-wrapper-ul">
                                    <li class="locationKey" data-classify="beforecolon"
                                        data-key="匹配输入字符串的开始位置。如果设置了Multiline，Beginning也匹配换行符之后的位置。" data-code="90">
                                        Beginning
                                    </li>
                                    <li class="specialFeed" data-classify="itself" data-key="匹配非字母、数字、下划线。"
                                        data-code="88">notWord
                                    </li>
                                    <li class="specialFeed" data-classify="itself" data-key="匹配任何空白字符，包括空格、制表符、换页符等等。"
                                        data-code="67">WhiteSpace
                                    </li>
                                    <li class="TimesKey" data-classify="times"
                                        data-key="n是一个非负整数。至少匹配n 次。例如，'o:Least2Times' 不能匹配 'Bob' 中的 'o'，但能匹配 'foooood' 中的所有 o。'o:Least1Times' 等价于 'o:1OrMore'。'o:Least0Times' 则等价于 'o:0OrMore'。"
                                        data-code="86">LeastNTimes
                                    </li>
                                    <li class="singleFeed" data-classify="itself" data-key="匹配换行符。" data-code="66">
                                        LineFeed
                                    </li>
                                    <li class="singleFeed" data-classify="itself" data-key="匹配制表符，键盘tab键。"
                                        data-code="78">Tab
                                    </li>
                                    <li class="nocacheKey" data-classify="colonbracket"
                                        data-key="正向肯定预查，在任何匹配子表达式的字符串开始处匹配查找字符串。这是一个非获取匹配，也就是说，该匹配不需要获取供以后使用。例如，'Windows(PositiveAssert:((95)Or(98)))'能匹配'Windows98'中的'Windows'，但不能匹配'Windows3.1'中的'Windows'。"
                                        data-code="77">PositiveAssert
                                    </li>
                                    <li class="charSetKey" data-classify="squarebrackets"
                                        data-key="字符范围。匹配指定范围内的任意字符。例如，'Range(a-z)' 可以匹配 'a' 到 'z' 范围内的任意小写字母字符。"
                                        data-code="188">Range
                                    </li>
                                </ul>

                                <ul class="key-board-span key-wrapper-ul">
                                    <li class="spanswitch" data-classify="other" data-switch="true"
                                        data-key="正则键盘 与  文字键盘 的 焦点切换键" data-code="32">GetFocus
                                    </li>
                                </ul>

                            </div>
                            <!--key wrapper /- -->
                        </div>
                    </div>
                    <!-- Row /- -->

                    <!-- Footer Section -->
                    <div class="footer-section">
                        <div class="bottom-footer">
                            <!-- Container -->
                            <div class="container">
                                <div class="ftr-content">
                                    <p><i class="fa fa-copyright"></i>&nbsp;Regex KeyBoard 2018. All Rights Reserved&nbsp;&nbsp;
                                        &nbsp;&nbsp;<a style="color: #ffffff" href="https://eugenhahaha.me"><i
                                                class="fab fa-grav"></i>&nbsp;Eugen&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff" href="mailto:longhe1996@foxmail.com"><i
                                                class="fa fa-envelope"></i>&nbsp;email&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff"
                                                       href="https://github.com/LongHe1996/RegexKeyboard"><i
                                                class="fab fa-github"></i>&nbsp;github&nbsp;&nbsp;</a>
                                    </p>
                                </div>
                            </div><!-- Container /- -->
                        </div>
                    </div><!-- Footer Section /- -->

                </div><!-- Content Area Block /- -->
            </div>
        </div>

    </main>

</div>
<!-- keyboard -->
<script src="js/jquery.min.js"></script>
<script src="js/keyboard.js"></script>
<script src="js/jquery.cookie.js"></script>
<!-- JQuery v1.12.4 -->
<script src="assets/js/jquery-1.12.4.min.js"></script>

<!-- Library - Js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lib.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- Library - Theme JS -->
<script id="function" src="assets/js/functions.js"></script>
<script>
    $(document).ready(function () {
        var name = $.cookie("LoginUserName");
        var url1 = "\"profile.html\"";
        var url2 = "\"\\\"";
        var font = "\"fa fa-heart\"";
        var url3 = "\"collection.html\"";
        if (name != null) {
            $(".loginname").append("<a href=" + url1 + ">" + name + "</a>");
            $(".logindiv").append("<span><i class=" + font + "></i><a href=" + url3 + ">collection</a></span>")
        } else {
            $(".loginname").append("<a href=" + url2 + ">尚未登录</a>");
        }
    })


    //regex
    function regexOut() {
        var text = $(".regexInput").val();
        text=encodeURIComponent(text);
        $.ajax({
            type: "post",
            async: true,
            url: "buildRegex?str=" + text,
            dataType: "json",
            success: function (data) {
                $(".resultbox").text(data["regex"]);
            },
            error: function () {
                alert("失败，请稍后再试！");
            }
        });
    }

</script>
</body>
</html>