<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

	<title>KeyBoard - Regex Keyboard</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png"/>
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png"/>
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png"/>	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cYanone+Kaffeesatz:200,300,400,700" rel="stylesheet"/>
	
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css"/>

	<!-- keyboard css-->
	<link rel="stylesheet" href="css/keyboard.css"/>
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet"/>

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/rtl.css"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<div class="main-container">
	
		<main class="site-main">
		
			<div class="container-block">				
				<div class="row no-gutters">			
								
					<!-- Menu Sidebar -->
					<div class="menu-sidebar col-lg-4">
						<!-- Header Section -->
						<div class="header_s">
							<!-- SidePanel -->
							<div id="slidepanel-1" class="slidepanel">
								<!-- Top Header -->
								<div class="top-header">
									<!-- Container -->
									<div class="container no-padding">	
										<div class="top-content">
											<span><i class="fa fa-user-circle"></i> <a href="profile.html">username</a></span>
											<span><i class="fa fa-heart"></i><a href="collection.html">collection</a></span>
										</div>
									</div><!-- Container /- -->
								</div><!-- Top Header /- -->
							</div><!-- SidePanel /- -->
							<!-- Menu Block -->
							<div class="menu-block">
								<nav class="navbar ownavigation navbar-expand-lg">
									<!-- Container -->
									<div class="container">
										<!--a class="navbar-brand text-logo" href="index.html">Airco <span>air conditioning</span></a-->
										<a class="image-logo navbar-brand" href="home.html"><img src="assets/images/logo.png" alt="Logo" /></a>
										<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
											<i class="fa fa-bars"></i>
										</button>
										<div class="collapse navbar-collapse" id="navbar">
											<ul class="navbar-nav">
												<li><a class="nav-link" title="Home" href="home.html">Home</a></li>
												<li><a class="nav-link" title="ReadMe" href="readme.html">ReadMe</a></li>
												<li><a class="nav-link" title="LearnMore" href="learnmore.html">LearnMore</a></li>
												<li class="active"><a class="nav-link" title="KeyBoard" href="keyboard.html">KeyBoard</a></li>
												<li><a class="nav-link" title="Test" href="test.html">Test</a></li>
												<li class="dropdown">
													<a href="qanda.html" class="nav-link dropdown-toggle" title="QaA" role="button" aria-haspopup="true" aria-expanded="false">Q&amp;A</a>
													<i class="ddl-switch fa fa-angle-down"></i>
													<ul class="dropdown-menu">
														<li><a class="dropdown-item" href="myquestion.html">My Question</a></li>
														<li><a class="dropdown-item" href="myanswer.html">My Answer</a></li>
													</ul>
												</li>
											</ul>
										</div>					
										<div id="loginpanel-1" class="desktop-hide">
											<div class="right toggle" id="toggle-1">
												<a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
												<a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-times"></i></a>
											</div>
										</div>
									</div><!-- Container /- -->
								</nav>
							</div><!-- Menu Block /- -->
						</div><!-- Header Section /- -->
					</div><!-- Menu Sidebar /- -->				
					<!-- Content Area Block -->
					<div class="content-area-block col-lg-8">
							<!-- Page Banner -->
						<div class="page-banner">
							<!-- Container -->
							<div class="container">
								<h3>Keyboard</h3>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="home.html">Home</a></li>
									<li class="breadcrumb-item active">Keyboard</li>
								</ol>
							</div><!-- Container /- -->
						</div><!-- Page Banner /- -->
						<!-- Row -->
						<div>
							<div style="padding: 10px">
								<div style="height: 180px;border: 2px solid blue;padding: 15px;border-radius: 40px;">
									<textarea class="regexInput" style="height: 100%;width: 100%;border: 0px;outline: none;color: black"></textarea>
								</div>		
							</div>
							<div style="margin-top:10px;height: 500px;">
								<!-- key wapper show-->
								<!-- key wapper show /- -->
								<!-- key wapper-->
								<div class="key-wrapper">
										<ul class="key-wrapper-ul">
											<li class="drum" data-key="1" data-code="49">Start</li>
											<li class="drum" data-key="2" data-code="50">2</li>
											<li class="drum" data-key="3" data-code="51">3</li>
											<li class="drum" data-key="4" data-code="52">4</li>
											<li class="drum" data-key="5" data-code="53">5</li>
											<li class="drum" data-key="6" data-code="54">6</li>
											<li class="drum" data-key="7" data-code="55">7</li>
											<li class="drum" data-key="8" data-code="56">8</li>
											<li class="drum" data-key="9" data-code="57">9</li>
											<li class="drum" data-key="0" data-code="48">0</li>
											<li class="drum"><a>Flags</a></li>
										</ul>
									
										<ul class="key-wrapper-ul">
											<li class="drum" data-key="q" data-code="81">q</li>
											<li class="drum" data-key="w" data-code="87">w</li>
											<li class="drum" data-key="e" data-code="69">e</li>
											<li class="drum" data-key="r" data-code="82">r</li>
											<li class="drum" data-key="t" data-code="84">t</li>
											<li class="drum" data-key="y" data-code="89">y</li>
											<li class="drum" data-key="u" data-code="85">u</li>
											<li class="drum" data-key="i" data-code="73">i</li>
											<li class="drum" data-key="o" data-code="79">o</li>
											<li class="drum" data-key="p" data-code="80">p</li>
										</ul>
									
										<ul class="key-wrapper-ul">
											<li class="drum" data-key="a" data-code="65">a</li>
											<li class="drum" data-key="s" data-code="83">s</li>
											<li class="drum" data-key="d" data-code="68">d</li>
											<li class="drum" data-key="f" data-code="70">f</li>
											<li class="drum" data-key="g" data-code="71">g</li>
											<li class="drum" data-key="h" data-code="72">h</li>
											<li class="drum" data-key="j" data-code="74">j</li>
											<li class="drum" data-key="k" data-code="75">k</li>
											<li class="drum" data-key="l" data-code="76">l</li>
										</ul>
									
										<ul class="key-wrapper-ul">
											<li class="drum" data-key="z" data-code="90">z</li>
											<li class="drum" data-key="x" data-code="88">x</li>
											<li class="drum" data-key="c" data-code="67">c</li>
											<li class="drum" data-key="v" data-code="86">v</li>
											<li class="drum" data-key="b" data-code="66">b</li>
											<li class="drum" data-key="n" data-code="78">n</li>
											<li class="drum" data-key="m" data-code="77">m</li>
											<li class="drum" data-key="," data-code="188">,</li>
										</ul>
									
										<ul class="key-board-span key-wrapper-ul">
											<li class="drum" data-key="SPACE" data-code="32">SPACE</li>
										</ul>
									
									</div>
								<!--key wrapper /- -->
							</div>
						</div>
						<!-- Row /- -->
						
						<!-- Footer Section -->
						<div class="footer-section">
							<div class="bottom-footer">
								<!-- Container -->
								<div class="container">
									<div class="ftr-content">
										<p><i class="fa fa-copyright"></i>&nbsp;Regex KeyBoard 2018. All Rights Reserved&nbsp;&nbsp;
											&nbsp;&nbsp;<a style="color: #ffffff" href="https://eugenhahaha.me"><i class="fab fa-grav"></i>&nbsp;Eugen&nbsp;&nbsp;</a>
											&nbsp;&nbsp;<a style="color: #ffffff" href="mailto:longhe1996@foxmail.com"><i class="fa fa-envelope"></i>&nbsp;email&nbsp;&nbsp;</a>
											&nbsp;&nbsp;<a style="color: #ffffff" href="https://github.com/LongHe1996/RegexKeyboard"><i class="fab fa-github"></i>&nbsp;github&nbsp;&nbsp;</a>
										</p>
									</div>
								</div><!-- Container /- -->
							</div>
						</div><!-- Footer Section /- -->
						
					</div><!-- Content Area Block /- -->
				</div>
			</div>
		
		</main>
		
	</div>
	<!-- keyboard -->
	<script src="js/jquery.min.js"></script>
	<script src="js/keyboard.js"></script>
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/lib.js"></script>
	
	<!-- REVOLUTION JS FILES -->
	<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
	<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
	
	<!-- Library - Theme JS -->
	<script id="function" src="assets/js/functions.js"></script>
	
</body>
</html>