<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Home - Airco</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images//favicon.ico"/>

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png"/>

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png"/>

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png"/>

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cYanone+Kaffeesatz:200,300,400,700"
          rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css"/>


    <!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet"/>

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" href="assets/css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--[if lt IE 9]>
    <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
            $('.tree li.parent_li > span').on('click', function (e) {
                var children = $(this).parent('li.parent_li').find(' > ul > li');
                if (children.is(":visible")) {
                    children.hide('fast');
                    $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                } else {
                    children.show('fast');
                    $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                }
                e.stopPropagation();
            });
        });
    </script>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
<!-- Loader -->
<div id="site-loader" class="load-complete">
    <div class="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div><!-- Loader /- -->

<div class="main-container">

    <main class="site-main">

        <div class="container-block">
            <div class="row no-gutters">

                <!-- Menu Sidebar -->
                <div class="menu-sidebar col-lg-4">
                    <!-- Header Section -->
                    <div class="header_s">
                        <!-- SidePanel -->
                        <div id="slidepanel-1" class="slidepanel">
                            <!-- Top Header -->
                            <div class="top-header">
                                <!-- Container -->
                                <div class="container no-padding">
                                    <div class="top-content logindiv">
                                        <span class="loginname" style="width: 250px"><i
                                                class='fa fa-user-circle'></i></span>
                                    </div>
                                </div><!-- Container /- -->
                            </div><!-- Top Header /- -->
                        </div><!-- SidePanel /- -->
                        <!-- Menu Block -->
                        <div class="menu-block">
                            <nav class="navbar ownavigation navbar-expand-lg">
                                <!-- Container -->
                                <div class="container">
                                    <!--a class="navbar-brand text-logo" href="index.html">Airco <span>air conditioning</span></a-->
                                    <a class="image-logo navbar-brand" href="home.html"><img
                                            src="assets/images/logo.png" alt="Logo"/></a>
                                    <button class="navbar-toggler navbar-toggler-right" type="button"
                                            data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                                            aria-expanded="true" aria-label="Toggle navigation">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="navbar-nav">
                                            <li><a class="nav-link" title="Home" href="home.html">Home</a></li>
                                            <li><a class="nav-link" title="ReadMe" href="readme.html">ReadMe</a></li>
                                            <li class="active"><a class="nav-link" title="LearnMore"
                                                                  href="learnmore.html">LearnMore</a></li>
                                            <li><a class="nav-link" title="KeyBoard" href="keyboard.html">KeyBoard</a>
                                            </li>
                                            <li><a class="nav-link" title="Test" href="test.html">Test</a></li>
                                            <li class="dropdown">
                                                <a href="qanda.html" class="nav-link dropdown-toggle" title="QaA"
                                                   role="button" aria-haspopup="true" aria-expanded="false">Q&amp;A</a>
                                                <i class="ddl-switch fa fa-angle-down"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="myquestion.html">My Question</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="myanswer.html">My Answer</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="loginpanel-1" class="desktop-hide">
                                        <div class="right toggle" id="toggle-1">
                                            <a id="slideit-1" class="slideit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-inbox"></i></a>
                                            <a id="closeit-1" class="closeit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Container /- -->
                            </nav>
                        </div><!-- Menu Block /- -->
                    </div><!-- Header Section /- -->
                </div><!-- Menu Sidebar /- -->
                <!-- Content Area Block -->
                <div class="content-area-block col-lg-8">
                    <!-- Page Banner -->
                    <div class="page-banner">
                        <!-- Container -->
                        <div class="container">
                            <h3>LearnMore</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                                <li class="breadcrumb-item active">LearnMore</li>
                            </ol>
                        </div><!-- Container /- -->
                    </div><!-- Page Banner /- -->
                    <!-- Row -->
                    <div>
                        <!-- tree -->
                        <div class="tree">
                            <ul>
                                <li>
                                    <span><i class="icon-calendar"></i>Start from here</span>
                                    <ul>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>1.普通字符</span>
                                            <ul class="type1">

                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>2.非打印字符</span>
                                            <ul class="type2">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>3.特殊字符</span>
                                            <ul class="type3">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>4.限定符</span>
                                            <ul class="type4">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>5.已定义限定符</span>
                                            <ul class="type8">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>6.进制限定符</span>
                                            <ul class="type9">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>7.字符限定符</span>
                                            <ul class="type10">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>8.定位符</span>
                                            <ul class="type5">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>9.非捕获元符</span>
                                            <ul class="type6">
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="badge badge-success" style="background-color: #1e38ae"><i
                                                    class="icon-minus-sign"></i>10.匹配性质</span>
                                            <ul class="type7">
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- tree /- -->
                    </div>
                    <!-- Row /- -->

                    <!-- Footer Section -->
                    <div class="footer-section">
                        <div class="bottom-footer">
                            <!-- Container -->
                            <div class="container">
                                <div class="ftr-content">
                                    <p><i class="fa fa-copyright"></i>&nbsp;Regex KeyBoard 2018. All Rights Reserved&nbsp;&nbsp;
                                        &nbsp;&nbsp;<a style="color: #ffffff" href="https://eugenhahaha.me"><i
                                                class="fab fa-grav"></i>&nbsp;Eugen&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff" href="mailto:longhe1996@foxmail.com"><i
                                                class="fa fa-envelope"></i>&nbsp;email&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff"
                                                       href="https://github.com/LongHe1996/RegexKeyboard"><i
                                                class="fab fa-github"></i>&nbsp;github&nbsp;&nbsp;</a>
                                    </p>
                                </div>
                            </div><!-- Container /- -->
                        </div>
                    </div><!-- Footer Section /- -->

                </div><!-- Content Area Block /- -->
            </div>
        </div>

    </main>

</div>

<!-- JQuery v1.12.4 -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<!-- Library - Js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lib.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- Library - Theme JS -->
<script id="function" src="assets/js/functions.js"></script>
<script>
    $(document).ready(function () {
        var name = $.cookie("LoginUserName");
        var url1 = "\"profile.html\"";
        var url2 = "\"\\\"";
        var font = "\"fa fa-heart\"";
        var url3 = "\"collection.html\"";
        if (name != null) {
            $(".loginname").append("<a href=" + url1 + ">" + name + "</a>");
            $(".logindiv").append("<span><i class=" + font + "></i><a href=" + url3 + ">collection</a></span>")
        } else {
            $(".loginname").append("<a href=" + url2 + ">尚未登录</a>");
        }
    })


    $(document).ready($.ajax({
        type: "get",
        url: "learnmorerules",
        dataType: "json",
        success: function (data) {
            var icontime = "\"icon-time\"";
            $.each(data["allRules"], function (j, rule) {
                var hrefstr = "\"\"";
                var strchildren = "<li>"
                    + "<span><i class=" + icontime + "></i>" + rule.ruleContent + "</span> &ndash; <a href=" + hrefstr + ">" + rule.ruleDescribe
                    + "</a></li>";
                $(".type"+rule.ruleNature).append(strchildren);
            });
        },
        error: function () {
            alert("失败，请稍后再试！");
        }
    }));
</script>
</body>
</html>