<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Test - Regex Keyboard</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/images//favicon.ico"/>

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png"/>

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png"/>

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png"/>

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cYanone+Kaffeesatz:200,300,400,700"
          rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css"/>
    <!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet"/>

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" href="assets/css/rtl.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>

    <!--[if lt IE 9]>
    <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    <style>
        .matchclass{
            background : #1e38ae;
            color: #ffffff;
            padding: 1px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid #1e38ae;
            height: 17px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
<!-- Loader -->
<div id="site-loader" class="load-complete">
    <div class="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div><!-- Loader /- -->

<div class="main-container">

    <main class="site-main">

        <div class="container-block">
            <div class="row no-gutters">
                <!-- Menu Sidebar -->
                <div class="menu-sidebar col-lg-4">
                    <!-- Header Section -->
                    <div class="header_s">
                        <!-- SidePanel -->
                        <div id="slidepanel-1" class="slidepanel">
                            <!-- Top Header -->
                            <div class="top-header">
                                <!-- Container -->
                                <div class="container no-padding">
                                    <div class="top-content logindiv">
                                        <span class="loginname" style="width: 250px"><i
                                                class='fa fa-user-circle'></i></span>
                                    </div>
                                </div><!-- Container /- -->
                            </div><!-- Top Header /- -->
                        </div><!-- SidePanel /- -->
                        <!-- Menu Block -->
                        <div class="menu-block">
                            <nav class="navbar ownavigation navbar-expand-lg">
                                <!-- Container -->
                                <div class="container">
                                    <!--a class="navbar-brand text-logo" href="index.html">Airco <span>air conditioning</span></a-->
                                    <a class="image-logo navbar-brand" href="home.html"><img
                                            src="assets/images/logo.png" alt="Logo"/></a>
                                    <button class="navbar-toggler navbar-toggler-right" type="button"
                                            data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                                            aria-expanded="true" aria-label="Toggle navigation">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="navbar-nav">
                                            <li><a class="nav-link" title="Home" href="home.html">Home</a></li>
                                            <li><a class="nav-link" title="ReadMe" href="readme.html">ReadMe</a></li>
                                            <li><a class="nav-link" title="LearnMore"
                                                   href="learnmore.html">LearnMore</a></li>
                                            <li><a class="nav-link" title="KeyBoard" href="keyboard.html">KeyBoard</a>
                                            </li>
                                            <li class="active"><a class="nav-link" title="Test"
                                                                  href="test.html">Test</a></li>
                                            <li class="dropdown">
                                                <a href="qanda.html" class="nav-link dropdown-toggle" title="QaA"
                                                   role="button" aria-haspopup="true" aria-expanded="false">Q&amp;A</a>
                                                <i class="ddl-switch fa fa-angle-down"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item  myquestionlogin"></a></li>
                                                    <li><a class="dropdown-item myanswerlogin"></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="loginpanel-1" class="desktop-hide">
                                        <div class="right toggle" id="toggle-1">
                                            <a id="slideit-1" class="slideit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-inbox"></i></a>
                                            <a id="closeit-1" class="closeit" href="#slidepanel"><i
                                                    class="fo-icons fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div><!-- Container /- -->
                            </nav>
                        </div><!-- Menu Block /- -->
                    </div><!-- Header Section /- -->
                </div><!-- Menu Sidebar /- -->
                <!-- Content Area Block -->
                <div class="content-area-block col-lg-8">

                    <!-- Page Banner -->
                    <div class="page-banner">
                        <!-- Container -->
                        <div class="container">
                            <h3>Test</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                                <li class="breadcrumb-item active">Test</li>
                            </ol>
                        </div><!-- Container /- -->
                    </div><!-- Page Banner /- -->

                    <!-- Container -->
                    <div class="container">
                        <!-- FAQ Section -->
                        <div class="faq-section">
                            <div id="faq-accordion" class="faq-content">
                                <div class="card">
                                    <div class="card-header" id="question-1">
                                        <h5 class="mb-0">
                                            <table>
                                                <tr style="width:100%">
                                                    <td style="width: 40%">
                                                        <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#question-detail-2" aria-expanded="true"
                                                                aria-controls="question-detail-2">Regex
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <form class="layui-form" style="margin-left: 10px">
                                                            <input type="checkbox" name="g" title="Global" checked=""/>
                                                            <input type="checkbox" name="m" title="Multiline"/>
                                                            <input type="checkbox" name="i" title="CaseInsensitive"/>
                                                        </form>

                                                    </td>
                                                    <td>
                                                        <button class="layui-btn layui-btn-sm" style="background: #1e38ae;margin-left: 10px; " onclick="getresult()">
                                                            <i class="layui-icon">&#xe642;Test</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </h5>
                                    </div>
                                    <div id="question-detail-1" class="collapse show" aria-labelledby="question-1"
                                         data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <div class="regexbox" contenteditable="true" style="border: gray solid 1px;overflow:auto;width: 100%;height: 40px;padding: 10px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" >

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="question-2">
                                        <h5 class="mb-0" >
                                            <table style="width: 100%">
                                                <tr style="width: 100%;padding: 0%">
                                                    <td style="width: 80%">
                                                        <button class="btn btn-link" data-toggle="collapse"
                                                                data-target="#question-detail-2" aria-expanded="true"
                                                                aria-controls="question-detail-2">Text
                                                        </button>
                                                    </td>
                                                    <td style="padding:0px;">
                                                        <div style="height: 35px;margin-left:20px;">
                                                            <label  class="matchbox" style="text-align: center;border: 1px solid gray;padding: 4px">0</label>
                                                            <label style="text-align: center;background: #1e38ae;color: white;padding: 5px">MATCHES</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </h5>
                                    </div>
                                    <div id="question-detail-2" class="collapse show" aria-labelledby="question-2"
                                         data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <div class="strbox" contenteditable="true" style="text-indent:5px;border: gray solid 1px;overflow:auto;width: 100%;height: 100px;padding: 10px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="question-3">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#question-detail-3" aria-expanded="true"
                                                    aria-controls="question-detail-2">Result
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="question-detail-3" class="collapse show" aria-labelledby="question-3"
                                         data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <div class="resultBox" style="border: gray solid 1px;overflow:auto;width: 100%;font-size: 10px;height: 100px;padding: 10px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- FAQ Section /- -->
                    </div><!-- Container /- -->

                    <!-- Footer Section -->
                    <div class="footer-section">
                        <div class="bottom-footer">
                            <!-- Container -->
                            <div class="container">
                                <div class="ftr-content">
                                    <p><i class="fa fa-copyright"></i>&nbsp;Regex Keyboard 2018. All Rights Reserved&nbsp;&nbsp;
                                        &nbsp;&nbsp;<a style="color: #ffffff" href="https://eugenhahaha.me"><i
                                                class="fab fa-grav"></i>&nbsp;Eugen&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff"
                                                       href="mailto:longhe1996@foxmail.com"><i
                                                class="fa fa-envelope"></i>&nbsp;email&nbsp;&nbsp;</a>
                                        &nbsp;&nbsp;<a style="color: #ffffff"
                                                       href="https://github.com/LongHe1996/RegexKeyboard"><i
                                                class="fab fa-github"></i>&nbsp;github&nbsp;&nbsp;</a>
                                    </p>
                                </div>
                            </div><!-- Container /- -->
                        </div>
                    </div><!-- Footer Section /- -->

                </div><!-- Content Area Block /- -->
            </div>
        </div>

    </main>

</div>

<!-- JQuery v1.12.4 -->
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<!-- Library - Js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lib.js"></script>
<script src="layui/layui.js"></script>
<!-- Library - Theme JS -->
<script id="function" src="assets/js/functions.js"></script>
<script>

    function analyzeStr(regexstr,str){
        //获取匹配规则
        var flags="";
        if($("input[name='g']").is(':checked')){
            flags=flags+"g";
        }
        if($("input[name='i']").is(':checked')){
            flags=flags+"i";
        }
        if($("input[name='m']").is(':checked')){
            flags=flags+"m";
        }
        //定义正则表达式对象
        var patt=new RegExp(regexstr,flags);
        console.log("reg:"+patt);
        //匹配次数
        if(patt.test(str)){
            var matchs=str.match(patt);
            $(".matchbox").text(matchs.length);
            $(".matchbox").css("background","white","color","black");
            $(".matchbox").css("color","black");
        }else{
            $(".matchbox").text("0");
            $(".matchbox").css("background","red","color","white");
            $(".matchbox").css("color","white");
        }
        //匹配样式
        var tmp="";
        if(patt.test(str)){
            var matchs=str.match(patt);
            if(flags.indexOf("g")==-1){
                var element=matchs[0];
                var index1=str.indexOf(element);
                var index2=index1+element.length;
                var str2=str.substring(index2,str.length)
                str=str.substring(0,index1);
                var matchclass="\"matchclass\"";
                tmp="<label class="+matchclass+">"+element+"</label>"+str2+tmp;
            }else{
                matchs.reverse();
                matchs.forEach(element => {
                    console.log(element);
                var index1=str.lastIndexOf(element);
                var index2=index1+element.length;
                var str2=str.substring(index2,str.length)
                str=str.substring(0,index1);
                var matchclass="\"matchclass\"";
                tmp="<label class="+matchclass+">"+element+"</label>"+str2+tmp;
            });
            }

            tmp=str+tmp;
        }
        //换行
        tmp=tmp.replace(/\\n/g,"<br/>");
        console.log("tmp:"+tmp);
        return tmp;
    }

    function getresult(){
        var regexstr=$('.regexbox').text();
        console.log("regex:"+regexstr);
        // 换行符转义
        if(regexstr=="\\n" || regexstr=="\\r" || regexstr=="\\cx"){
             regexstr="\\\\n";
        }
        regexstr=$.trim(regexstr);
        var str=$(".strbox").html();
        console.log("str:"+str);
        str=str.replace(/<div>/g,"\\n");
        var regexdiv=new RegExp("</div>","g");
        str=str.replace(regexdiv,"");
        console.log("str:"+str);
        // alert(regexstr+":"+str);
        var result=analyzeStr(regexstr,str)
        // alert(result);
        $(".resultBox").text("");
        $(".resultBox").html(result);
    }


    $(document).ready(function () {
        var name = $.cookie("LoginUserName");
        var url1 = "\"profile.html\"";
        var url2 = "\"\\\"";
        var font = "\"fa fa-heart\"";
        var url3 = "\"collection.html\"";
        if (name != null) {
            $(".loginname").append("<a href=" + url1 + ">" + name + "</a>");
            $(".logindiv").append("<span><i class=" + font + "></i><a href=" + url3 + ">collection</a></span>");
            //Menu box
            $(".myquestionlogin").attr("href", "/myquestion");
            $(".myquestionlogin").text("My Question");
            $(".myanswerlogin").attr("href", "/myanswer");
            $(".myanswerlogin").text("My Answer");
        } else {
            $(".loginname").append("<a href=" + url2 + ">尚未登录</a>");
            //Menu box
            $(".myquestionlogin").text("My Queztion- No Login");
            $(".myquestionlogin").attr("href", "/");
            $(".myanswerlogin").text("My Answer - No Login");
            $(".myanswerlogin").attr("href", "/");
        }
    })

    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });

    $(function () {
        if(window.location.search!=""){
            var str=window.location.search.substr(6);
            str=decodeURI(str);
            var number = str.indexOf("example");
            var rule=str.substr(0,number);
            var regexdiv=new RegExp("esc");
            rule=rule.replace(regexdiv,"\\");
            var regexdiv=new RegExp("beg");
            rule=rule.replace(regexdiv,"^");
            var regexdiv=new RegExp("huo");
            rule=rule.replace(regexdiv,"|");
            var regexdiv=new RegExp("left");
            rule=rule.replace(regexdiv,"{");
            var regexdiv=new RegExp("rignt");
            rule=rule.replace(regexdiv,"}");
            var example=str.substr(number+7);
            example=example.trim();
            $(".regexbox").text(rule);
            $(".strbox").html(example);
        }
    })
</script>
</body>
</html>